.chatlist-item{
    display: flex;
    width: 22vw;
    height: fit-content;
    padding: 2px;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(55, 56, 56);
    color: antiquewhite;
    border-bottom: 1px solid wheat;
}


/* -------Chat box--------- */
.chatbox-main{
    width: 100%;
    background-color: rgb(41, 23, 42);
    height: 100vh;
    color: gray;
}