.profile-main{
    display: flex;
    flex-direction: column;
}

.Profile_main_container{
    width: 85%;
    height: 22vh;
    background-color: aquamarine;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: fixed;
    z-index: 10;
}

.dp{
    width: 10vw;
    height: 10vw;
    background-color: antiquewhite;
    border-radius: 50%;
    
    
}

.Profile_info_count{
    width: 50vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}


.post-container{ 
    width: 85%;
    height: auto;
    display: flex;
    padding-top: 3vh;
    padding-left: 9vw;
    justify-content: space-between;
    flex-direction: grid;
    flex-wrap: wrap;
    align-items: center;
}

.Profile_body_container{
    height: auto;
    margin-left: 15vw;
    min-height: 78vh;
    margin-top: 22vh;
    background-color: rgb(59, 51, 63);
}