*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header-main{
    width: 98.7vw;
    height: 7vh;
    background-color: rgb(18, 18, 18);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 10;
}

.logo{
    width: 5%;
    min-width: 40px;
    height: 100%;
    display: flex;
    max-width: 10%;
    align-items: center;
    
}

.logo img{
    width: 100%;
    height: auto;
    min-width: 4%;
    max-height: 100%;
    object-fit: contain;
    height: 90%;
}


.main-container{
    display: flex;
    justify-content: space-between;
    background-color: rgb(229, 226, 226);
    margin-left: 15vw;   
}

.search-bar{

    width: 35vw;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-bar input{
    width: 75%;
    height: 80%;
    padding: 5px;
    font-size: medium;
    border-radius: 5px;
    border: none;
    background-color: rgb(18, 18, 18, 0.2);
    border: 1px solid rgb(111, 109, 109);
}


.header-options{
    
    width: 12vw;
    height: auto;
    display: flex;
    justify-content: space-evenly;
    
}

.btn{
    background-color: transparent;
    border: 1px solid transparent;
    font-weight: 900;
    font-size: 40px;
}

.dropdown-menu .dropdown-item {
    background-color: transparent; 
    color: #990bf7; 
    font-weight: 500;
  }
  
/* --------    SIDE BAR    ------- */

.sidebar-main{
    width: 15vw;
    height: 100vh;
    background-color: rgb(40, 33, 42);
    color: wheat;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: fixed;
    
}

.sidebar-main h3 img{
    width: 25%;
    height: auto;
    min-width: 8%;
    max-height: 100%;
    object-fit: contain;
    height: 90%;
}

.sidebar-main h3{
    margin-top: 2vh;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    font-size: x-large;
    margin-bottom: 2vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sidebar-main span{
    align-items: left;
    font-size: medium;
    font-weight: bold;
    align-items: start;
    display: flex;
    flex-direction: column;
    row-gap: 13px;
    flex-grow: 1;
}

.Profile{
    margin-top: auto;
}

/* ----------- chat list ------------- */
.chatlist-col{
    width: 20vw;
    height: 120vh;
    background-color: rgba(89, 86, 86, 0.2);
}

/* main page to show posts */
.Post-container{
    background-color: black;
    margin-top: 30px;
    margin-left: 15vw;
}